@import "partials/global";
@import "partials/colors";


//ABOUT POST *********************************************************************************

.about1 {
    padding: 60px;
    padding-bottom: 10px;
    .paragraph {
      font-family: 'Montserrat', sans-serif;
      span {
        font-weight: bold;
      }
    }
    .photo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 400px;
        border-radius: 80%;
      }
    }
  }
  
  .relation1{
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
  }