@import "partials/colors";

// GLOBAL

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    color: $main-color;
    font-size: 1em;
  }
  
  section>.container {
    padding-top: 80px;
    padding-bottom: 10px;
  }
  
  .headline {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    letter-spacing: 1px;
    padding-bottom: 10px;
    color: #000;
  }
  
  .paragraph {
    font-size: 1em;
  }