@import "partials/global";
@import "partials/colors";


//OPINIONS POST *********************************************************************************

.opinions {
    height: 49vh;
    background-color: white;
    color: #313335;
    article {
      height: 100%;
  
  }
  }
  
  
  .mySlides{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 630px;
    max-width: 570px;
    position: relative;
    width: 100%;
    z-index: 0;
    padding: 5px;
    background-size: cover;
    background-position: center;
  }
  
  .w3-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  